@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* Dark mode pour les écrans de moins de 600px de large */
@media (max-width: 600px) {
    body {
        background-color: lightslategray; /* Couleur de fond sombre */
        color: #fff; /* Couleur du texte en mode sombre */
    }
}
@media (min-width: 600px){
    body{
        background-color: #1F2039;
        color: white;
    }
}
@media screen and (max-width: 600px) {
     .titre{
     
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper a {
    
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .moi{
      
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .projet{
      
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    form{
      
      width: 100%;
    }
}
*{
    box-sizing: border-box;
    margin: 0%;
}
body{
    color:#333;
    font-family:Arial,sans-serif ;
    font-size: 16px;
    line-height: 22px;
}
a {
    text-decoration: none;
    color: #333;
}
.wrapper{
    display: flex;
    justify-content: center;
 }

header{
    background-color: white;
    border-bottom: 1px solid #eee ;
}
header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
header li a{
    display: block;
    padding: 20px;
}
header li:hover a{
    background-color: green;
    color: white;
  
}
header li:hover .sub-menu{
display: block;
position: absolute;
}
.sub-menu{
    display: none;
    position: absolute;
    width: 200px;
}
.sub-menu li{
    display: block;
}
.sub-menu li:hover a{
    background-color: white;
    color: green;
}
.titre{
   background-image: url(/img/pexels-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    color: red;
    font-weight: 900;
    text-align: center;
}
.moi{
   max-width: 600px;
   margin: auto;
   padding: 30px;  
   color: white;
}
.photo{
    border-radius: 50%;
}
.presente{
    padding: 30px;
    color: white;
    text-align: center;
}
.passion {
    background-color: #1F2039;
    padding: 50px;
}
.projet{
    max-width: 600px;
    margin: 0 auto ;
    padding: 50px;
    border-radius: 10px;
    color: white;
}
.projet h2{
    margin-bottom: 10px;
}
.projet p{
    line-height: 1.4;
}
.mecaimg{
    object-fit: cover;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    width:200px; 
    height:200px;
    margin: 0 20px 5px 0px;
    padding: 20px;
}
footer{
   background-color: white;
   padding: 50px;
}