header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.titre{
    text-align: center;
    background-image: url(/img/Ciel_bleu.jpg);
    padding: 50px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.logo{
    
}
*{
    margin: 0;
}
.contener2{
    text-align: center;
    padding: 150px;
    
}
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
p{
    font-weight: 700;
}