*{
    box-sizing: border-box;
    margin: 0%;
}
body{
    color:#333;
    font-family:Arial,sans-serif ;
    font-size: 16px;
    line-height: 22px;
}
a {
    text-decoration: none;
    color: #333;
}
.wrapper{
    display: flex;
    justify-content: center;
 }

header{
    background-color: white;
    border-bottom: 1px solid #eee ;
}
header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
header li a{
    display: block;
    padding: 20px;
}
header li:hover a{
    background-color: green;
    color: white;
  
}
header li:hover .sub-menu{
display: block;
position: absolute;
}
.sub-menu{
    display: none;
    position: absolute;
  
    width: 200px;
}
.sub-menu li{
    display: block;
}
.sub-menu li:hover a{
    background-color: white;
    color: green;
}
.haut{
    background-image: url(/img/pexels-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    color: red;
    font-weight: 900;
    text-align: center;
    font-size:30px;
     
 }
 body{
    color:#333;
    font-family:Arial,sans-serif ;
    font-size: 16px;
    line-height: 22px;
}
.photo {
    
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
img{
    border-radius: 3px;
}
.hover-effect:hover{
    opacity: 0.7;
}


.orque{
    filter: grayscale(100%);
}
.hover-effect{
     
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
