@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* Dark mode pour les écrans de moins de 600px de large */
@media (max-width: 600px) {
    body {
        background-color: lightslategray; /* Couleur de fond sombre */
        color: #fff; /* Couleur du texte en mode sombre */
    }
}
@media (min-width: 600px){
    body{
        background-color: #1F2039;
        color: white;
    }
    .titre{
     
        width: 100%;
      }
      form{
      
        width: 100%;
      }
      .projet{
      
        width: 100%;
      }
      .moi{
      
        width: 100%;
      }
      .wrapper a {
    
        width: 100%;
      }
}

*{
    box-sizing: border-box;
    margin: 0%;
}
body{
    color:#333;
    font-family:Arial,sans-serif ;
    font-size: 16px;
    line-height: 22px;
   
   
}
a {
    text-decoration: none;
    color: #333;
}
.wrapper{
    display: flex;
    justify-content: center;
 }

header{
    background-color: white;
    border-bottom: 1px solid #eee ;
}
header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
header li a{
    display: block;
    padding: 20px;
}
header li:hover a{
    background-color: green;
    color: white;
  
}
header li:hover .sub-menu{
display: block;
position: absolute;
}
.sub-menu{
    display: none;
    position: absolute;
    width: 200px;
}
.sub-menu li{
    display: block;
}
.sub-menu li:hover a{
    background-color: white;
    color: green;
}
.titre{
    background-image: url(/img/pexels-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    color: red;
    font-weight: 900;
    text-align: center;
}
.moi{
    max-width: 600px;
    margin: auto;
    padding: 30px;  
    color: white;
}
.photo{
    border-radius: 50%;
}
.presente{
    padding: 30px;
    color: white;
    text-align: center;
}
.passion {
    background-color: #1F2039;
    padding: 50px;
}
.projet{
    max-width: 600px;
    margin: 0 auto ;
    padding: 50px;
    border-radius: 10px;
    color: white;
}
.projet h2{
    margin-bottom: 10px;
}
.projet p{
    line-height: 1.4;
}
.mecaimg{
    object-fit: cover;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    width:200px; 
    height:200px;
    margin: 0 20px 5px 0px;
    padding: 20px;
}
footer{
   background-color: white;
   padding: 50px;
}

.bas{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.titre2{
    padding: 50px;
}
.photo {
    
    display: flex;
    justify-content: space-around;
    padding: 50px;

}
img{
    border-radius: 3px;
}
.orque{
    filter: grayscale(100%);
}
.haut{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    background-color: white;
 }

form{
 
}
form .titre3{
    font-size: 20px;
}
form .corp-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
form .corp-formulaire .boite{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form .corp-formulaire .gauche .boite input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid blue;
    outline-color: red;
    border-radius: 5px;
}
form .separation{
width: 100%;
height: 1px;
background-color: violet;

}
form .corp-formulaire .gauche .boite  i{
    position: absolute;
    left: 0px;
    top: 25px;
    padding: 9px 8px;
    color:#1F2039 ;

} 

form {
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
form .corp-formulaire .droite{
    margin-left: 40px;

}
form .corp-formulaire .droite .boite textarea{
    margin-top: 5px;
    padding: 50px;
}
