body{
   
    background-color: black;
}
#grille{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: white;
    height: 600px;
}
header{
    background-color: blue;
    grid-column: 1/span 2;
}
nav{
    background-color: aqua;
}
footer{
    background-color: blueviolet;
    grid-column: 1/span 2;
}
.contente{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;

}
*{
    margin: 0;
}
.portfolio1 {
    border: solid 5px;
    border-radius: 5%;
    width: 300px;
    height: 200px;
    overflow: auto;
    padding: 20px;
    background-image: url(OIP.jpg);
    color: black;
    font-weight: 900;
  }
 article{
    display: flex; /*permet de demarer le flexbox*/
    justify-content: center; /*permet de centrer les elements*/
    justify-content: space-around; /*permet d'epacé les elements entree heux */
  
 }
 .portfolio2 {
    border: solid 5px;
    border-radius: 5%;
    width: 200px;
    height: 200px;
    overflow: auto;
    padding: 20px;
    background-image: url(OIP.jpg);
    color: black;
    font-weight: 900;
    background-color: blueviolet;
  }
  .portfolio3 {
    border: solid 5px;
    border-radius: 5%;
    width: 300px;
    height: 200px;
    overflow: auto;
    padding: 20px;
    background-image: url(OIP.jpg);
    color: black;
    font-weight: 900;
    background-color: blueviolet;
  }
  img{
    border-radius: 50%;
  }