h1 {
  text-align: center;
  padding: 20px;
}
.contener {
  display: flex; /*permet de demarer le flexbox*/
  justify-content: center; /*permet de centrer les elements*/
  padding: 50px;
  justify-content: space-around; /*permet d'epacé les elements entree heux */
  font-weight: 900;
}
.portfolio1 {
  border: solid 5px;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 20px;
  background-image: url(OIP.jpg);
  color: black;
  font-weight: 900;
}
.portfolio2 {
  border: solid 5px;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 20px;
  background-image: url(OIP.jpg);
  color: black;
  font-weight: 900;
  background-color: blueviolet;
}
.portfolio3 {
  border: solid 5px;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 20px;
  background-image: url(OIP.jpg);
  color: black;
  font-weight: 900;
  background-color: blueviolet;
}
.flex2 {
  display: flex;
  justify-content: center;
  justify-content: space-around; /*permet d'epacé les elements entree heux */
  padding: 50px;
}
.portfolio4 {
  border: solid 5px;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 20px;
  background-image: url(Ciel_bleu.jpg);
  color: black;
  font-weight: 900;
}
.portfolio5 {
  border: solid 5px;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 20px;
  scrollbar-gutter: stable both-ed;
  background-image: url(Ciel_bleu.jpg);
  color: black;
  font-weight: 900;
}
.portfolio6 {
  border: solid 5px;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 20px;
  background-image: url(Ciel_bleu.jpg);
  color: black;
  font-weight: 900;
}
.image {
  border-radius: 50%;
  float: left;
}
a {
  color: red;
  font-weight: 900;
}
.flex3 {
  display: flex;
  justify-content: center;
  justify-content: space-around; /*permet d'epacé les elements entree heux */
  padding: 50px;
}
.portfolio7 {
  border: solid 5px;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 20px;
  background-image: url(herbe.jpg);
  color: black;
  font-weight: bold;
}
header,
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}
nav {
  margin: ;
}
body {
  background: linear-gradient(#8e86b5, #acaeed);
}
* {
  margin: 0;
}
.logo {
  border-radius: 50%;
}
