* {
    font-family: Avenir, sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteneur-grid {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, minmax(80px, 1fr)); */
    /* grid-auto-flow: column; */
    /* grid-auto-rows: 100px; */
    border: 2px solid red;
    /* margin: 10px; */

}

.conteneur-grid > div {
    /* padding: 20px 0px; */
    /* background-color: gold; */
    border: 2px solid rgb(120, 40, 160);
   
}
.header{
    font-size: 50px;
    padding: 20px;
}
.afficher{
    font-size: medium;
    background-color: grey;
    padding: 10px;
}
.g1{
    /* grid-column: 1 / 4; */
    /* grid-row: 1/ 2; */
    /* grid-column-start: 1; */
    /* grid-column-end:  3; */
    /* grid-row-start: 1; */
    /* grid-row-end: 2; */
    background-color: aqua;
    height: 100px;
}
 .g2{ 
    /* grid-column: 1/ 4;  */
    /* grid-row: 2/ 2; */
    /* grid-column-start: 1; */
    /* grid-column-end: 2;  */
    /* grid-row-start: 2; */
    /* grid-row-end: 3;  */
    background-color: pink;
    min-height: 100px;

}
.g3{
    /* grid-column: 1/ 4; */
    /* grid-row: ; */
    /* grid-column-start: 3; */
    /* grid-column-end: 4; */
    /* grid-row-start: 1; */
    /* grid-row-end: 2;  */
    background-color:yellow;
    height: 200px;
    padding: 50px;
}
.g4{
    /* grid-column: 1 /4; */
    /* grid-row : 4/4; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-row-start: 3; */
    /* grid-row-end: 4; */
    background-color:aqua;
    min-height:  100px;

}
.g5{ 
        /* grid-columns: 1 / 4 ;  */
       /* grid-row: ; */
     /* grid-column-start: 3;    */
      /* grid-column-end: 4;   */
     /* grid-row-start: 1;  */
     /* grid-row-end: 4; */
     background-color: pink;
     min-height:  100px;

}

.lien{
margin-left: 20px;
    
}